
 .tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    
    
    
    
 }

 .tabs__label{
    padding: 10px 16px;
    cursor: pointer;
 }

 .tabs__radio{
    display: none;
    
 }
 .tabs__content{
    order: 1;
    width: 100%;
    line-height: 0.9rem;
    display: none;

 }

 .tabs__radio:checked+.tabs__label{
    font-weight: bold;
    color: #ddd;
    border-bottom: 2px solid red;
    margin-bottom: 4rem;
   

 }
 .tabs__radio:checked+.tabs__label+.tabs__content{
    display: block;
 }

